//top bg
.pokemon-bg {
  background: url(https://upload.cc/i1/2020/08/31/pCX2qS.jpg) center center;
  min-height: 800px;
}
//product bg
.productlist {
    background-color: #fff;
//   background: url(https://upload.cc/i1/2020/08/31/RhMxmi.png) center center no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   min-height: 500px;
}



.bg-lighter {
  min-height: 150px;
  background-color: rgba(255, 255, 255, .9);
}

.list-group-item.active {
  background-color: #000000;
  border-color: #000000;
}

.card-title {
  margin-bottom: 0;
}

.cart-text {
  color: #F5F5F5;
}


.productimg {
  cursor: pointer;
}

.myfavorite {
  position: absolute;
  top: 8px;
  right: 14px;
}

.myfavorite i {
  font-size: 26px;
  color: #EA562A;
}

.pd_price {
  color: #ff0000;
  font-size: 25px;
}

.categorybar {
  padding: 0 24px;
}

@media (min-width: 992px) {
  .categorybar {
    padding: 0 16px;
  }
}

.productCard {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.productCard:hover {
  animation: pro_jump .3s ease-out;
}

.cardBody {
  background-color: #ffffff;
  padding: 16px;
}

.cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn {
  width: 100%;
  padding: 10px;
  color: #000000;
}

.card-btn:hover {
    color: #fff;
  background-color: #000000;
}



//打字機

.d-inline-block {
  display: inline-block;
}
/* 手寫字樣式 */
.typewriter span {
  font-size: 40px;
  overflow: hidden;
  border-right: .3rem solid $dark;
  white-space: nowrap;
  animation: 
    typing 1s steps(10, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $dark }
}

@keyframes pro_jump{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.hot_tag {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.hot_tag span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #a70a0a;
    background: linear-gradient(#c90d0d 0%, #a70a0a 100%);
    box-shadow: 0 3px 10px -5px black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 19px;
    left: -21px;
}

.hot_tag span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #a70a0a;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #a70a0a;
}

.hot_tag span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #a70a0a;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #a70a0a;
}

@media all and (max-width: 768px) {
    .typewriter span {
        font-size: 25px;
  }
  .bg-lighter {
    min-height: 80px;
  }
  
  .pokemon-bg {
  min-height: 500px;
  }
}