  
.bg-sub {
    background-color: #000000;
}

.form-square {
    background-color: #FAF4F4;
}

.subtext {
    color: #ccc;
    font-weight: bold;
}

.form-square.form-square-withicon {
    padding-left: 60px;
    position: relative;
}

.form-square .form-input {
    background-color: transparent;
    border: none;
    outline: none;
}

.form-square .form-square-icon-left {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 20px;
    color: #0c0909;
}

.btn-accent {
    color: #FFFFFF;
    background-color: #F9CC01;
    border-color: #0c0909;
}