  
.bg-cover{
    background-size: cover;
    background-position: center center;
}

.navbar-dark .navbar-nav .nav-link {
    margin-bottom: 8px !important;
    font-size: 16px !important;
    color: #fff;
}

.nav-link:hover {
    color:#CEA84E !important;
}

.nav-link i {
    position: relative;
    font-size: 22px;
}

@media (max-width: 575.98px) {
    .logo {
        display: none;
    }
    .logoMobile {
        display: block;
    }
}

@media (min-width: 576px) {
    .logoMobile {
        display: none;
    }
}


.favoritemodal {
    font-size: 18px;
}

.dropdownIcon {
    color: #fff;
}

.btn:hover {
    color: #CEA84E;
}

.dropdownIcon i {
    position: relative;
    font-size: 22px;
}

.dropdownIcon i span {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -13px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #fefefe;
    background-color: #EA562A;
}