  
.bg-cover{
    background-size: cover;
    background-position: center center;
}

.navBtn {
    color: #fff;
}

@media (max-width: 575.98px) {
    .logo {
        display: none;
    }
    .logoMobile {
        display: block;
    }
}

@media (min-width: 576px) {
    .logoMobile {
        display: none;
    }
}


.favoritemodal {
    font-size: 18px;
}

.dropdownIcon {
    color: #fff;
}

.dropdownIcon i {
    position: relative;
    // font-size: 20px;
}

.dropdownIcon i span {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -13px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #fefefe;
    background-color: #EA562A;
}

.mh10{
    display: block;
    text-align: left;
    transition: all 0.5s;
    position: relative;
    perspective: 2000px;    
    }
    
    .mh10 span{
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
    }
    .mh10:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    // border: 1px solid rgba(255,255,255,0.5);
    
    }
    .mh10:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    // border: 1px solid rgba(255,255,255,0.5);
    
    }
    .mh10:hover:before{
    transform: rotateX(60deg) translate(0px,45px) ; 
    background-color: rgba(255,255,255,0.25);
    }
    .mh10:hover:after{
    transform: rotateX(-60deg) translate(0px,-45px) ;   
    background-color: rgba(255,255,255,0.25);
    }
    .mh10:hover{
    color: #CEA84E;
    }